<!DOCTYPE html>

{% load static %}

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/bootstrap.css' %}"
/>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Bonjour {% if user is not None and user.is_authenticated %} {{ user.first_name }} {% endif %} et bienvenue sur le site de GreenCompare </h1>
    <ul>
        <li>
            <a href="shop">Magasins</a>
        </li>
        <li>
            <a href="login">Se connecter</a>
        </li>
        {% if user is not None and user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">Se déconnecter</a>
            </li>
        {% endif %}
        <li>
            <a href="register">S'enregistrer</a>
        </li>
    </ul>

</body>
</html>
