<!DOCTYPE html>

{% load static %}

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/bootstrap.css' %}"
/>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1> Bienvenue sur le site de GreenCompare </h1>
    <ul>
        <li>
            <a href="shop">Magasins</a>
        </li>
        <li>
            <a href="login">Se connecter</a>
        </li>
        <li>
            <a href="register">S'enregistrer</a>
        </li>
    </ul>

</body>
</html>
